@import url('https://fonts.googleapis.com/css?family=Lato:400,700');



.card_product .container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 520px;
  height: 350px;
  background: #F5F5F5;
  box-shadow: 5px 5px 15px rgba(#BA7E7E, .5);
  border-radius: 10px;
}

.card_product p {
  font-size: 0.6em;
  color: #BA7E7E;
  letter-spacing: 1px;
}
.card_product
.card_product h1 {
  font-size: 1.2em;
  color: #4E4E4E;
  margin-top: -5px;
}

.card_product h2 {
  color: #C3A1A0;
  margin-top: -5px;
}

.card_product img {
  width: 290px;
  margin-top: 47px;
}

.card_product.slideshow-buttons {
  top: 70%;
  display: none;
}

.card_product.one, .two, .three, .four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #E0C9CB;
}

.card_product .one {
  left: 22%;
}
.card_product .two {
  left: 27%;
}
.card_product .three {
  left: 32%;
}
.card_product .four {
  left: 37%;
}

.card_product .product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.card_product .desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: #4E4E4E;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.card_product button {
  background: darken(#E0C9CB, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #F5F5F5;
  cursor: pointer;
  
}

.card_product .add {
  width: 67%;
}

.card_product .like {
  width: 22%;
}

.card_product .sizes {
  display: grid;
  color: #D9AAB7;
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 5px;
 
}

.card_product .pick {
  margin-top: 11px;
  margin-bottom:0;
  margin-left: 20px;
}

.card_product .size {
  padding: 9px;
  border: 1px solid #E0C9CB;
  font-size: 0.7em;
  text-align: center;
 
}

.card_product .focus{
  background: #BA7E7E;
  color: #F5F5F5;
}
