.part1 {
    transform: translate(2px, 86px) rotate(-47deg);
}

.part2 {
    transform: translate(-1px, 70px) rotate(-41deg);
}

.part3 {
    transform: translate(-1px, 58px) rotate(-33deg);
}

.part4 {
    transform:  translate(1px, 48px) rotate(-28deg);
}



.part6 {
    transform:  translate(3px, 41px) rotate(-2deg);
}

.part7 {
    transform: translate(4px, 40px) rotate(6deg);
}

.part8 {
    transform: translate(5px, 45px) rotate(15deg);
}

.part9 {
    transform: translate(6px, 52px) rotate(28deg);
}

.part10 {
    transform: translate(6px, 61px) rotate(33deg);
}

.part11 {
    transform: translate(2px, 71px) rotate(41deg);
}

.part12 {
    transform: translate(-4px, 83px) rotate(54deg);
}
/* An inline-block element is placed as an inline
 element (on the same line as adjacent content), 
 but it behaves like a block element  */

span {
    display: inline-block;
    position: relative;
    top: -69px;
}

.letters{
    margin-top: 10px;
    background-color: #62a189;
     /* rgb(57,37,160); */
    margin: -8px 26%;
    max-width: 600px;
    min-width: 110px;
    padding: 37px;
    text-align: center;
    font-weight: 800;
    font-size: 20px; 
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
@media (min-width: 1240px) {

    .letters{
        margin: -8px 29%;
    }
}
